### Week2;Methodology:

<font size="3">I used Jupyter Notebooks to conduct that analysis and imported all the necessary Python libraries like Pandas, Numpy, Matplotlib, and Seaborn. The data was mostly categorical so I stuck to graphical representation to see correlation between various variables.
I started by importing the csv file and to prepare the data, I dropped the columns we do not need from the dataset, i.e., columns that do not have values or where the values are unknown.</font>

In [29]:
import numpy as np
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_29a73fe344044493824e805e00c6ea91 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='yDJw35sNQXHMfb2dOs_j2djVsH2k-XWAOn76CvP7YUti',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.eu-geo.objectstorage.service.networklayer.com')

body = client_29a73fe344044493824e805e00c6ea91.get_object(Bucket='capstonedatascience-donotdelete-pr-o0bjqp42kgkwlv',Key='Road-Accidents.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data = pd.read_csv(body)
df_data

,Sr. No.,States/UTs,2015,2016,2017,2018 - Number,2018 - Rank
0,1,Andhra Pradesh,7524,7851,7564,6998,8.0
1,2,Arunachal Pradesh,117,103,103,134,27.0
2,3,Assam,2122,2445,2474,2829,18.0
3,4,Bihar,4771,4425,5045,6244,9.0
4,5,Chhattisgarh,3710,3527,3878,4217,15.0
5,6,Goa,302,316,306,248,23.0
6,7,Gujarat,7332,7296,6739,7176,7.0
7,8,Haryana,4430,4636,4700,4806,13.0
8,9,Himachal Pradesh,843,1000,907,926,20.0
9,10,Jammu & Kashmir,749,734,765,809,21.0
10,11,Jharkhand,2619,2681,3034,3261,17.0
11,12,Karnataka,9888,10215,9739,10093,4.0
12,13,Kerala,3937,4064,3915,4069,16.0
13,14,Madhya Pradesh,8412,8774,9258,9721,5.0
14,15,Maharashtra,12009,11780,11220,12098,2.0
15,16,Manipur,116,78,107,122,28.0
16,17,Meghalaya,153,146,140,165,26.0
17,18,Mizoram,50,61,55,39,32.0
18,19,Nagaland,23,41,35,35,33.0
19,20,Odisha,3855,4036,4372,4861,12.0
20,21,Punjab,4357,4584,4139,4479,14.0
21,22,Rajasthan,9306,9282,9300,9295,6.0
22,23,Sikkim,61,60,60,51,31.0
23,24,Tamil Nadu,14524,16092,15061,11375,3.0
24,25,Telangana,6569,6617,6110,6051,10.0
25,26,Tripura,154,165,153,194,25.0
26,27,Uttarakhand,765,801,727,797,22.0
27,28,Uttar Pradesh,15218,16164,17706,19364,1.0
28,29,West Bengal,5779,6081,5199,5185,11.0
29,30,Andaman & Nicobar Islands,22,16,20,18,35.0
30,31,Chandigarh,124,144,103,97,29.0
31,32,Dadra & Nagar Haveli,36,40,40,52,30.0
32,33,Daman & Diu,38,32,36,34,34.0
33,34,Delhi,1582,1548,1565,1657,19.0
34,35,Lakshadweep,0,1,0,1,36.0
35,36,Puducherry,229,235,221,225,24.0
36,Total,Total,131726,136071,134796,137726,NaN

In [32]:
df_data=df_data.rename(columns={'2018 - Number':'2018', '2018 - Rank': 'Rank' })
df_data.head()

  Sr. No.         States/UTs  2015  2016  2017  2018  Rank
0       1     Andhra Pradesh  7524  7851  7564  6998   8.0
1       2  Arunachal Pradesh   117   103   103   134  27.0
2       3              Assam  2122  2445  2474  2829  18.0
3       4              Bihar  4771  4425  5045  6244   9.0
4       5       Chhattisgarh  3710  3527  3878  4217  15.0

In [ ]:
df = pd.DataFrame({'Postal Code': ['Raphael', 'Donatello'],
                   'mask': ['red', 'purple'],
                   'weapon': ['sai', 'bo staff']})
df.to_csv(index=False)